.card-button-project-item {
    text-transform: none;
    background: #0D1117;
    color: white;
}

.project-description-unexpand {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.project-description-expand {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    display: -webkit-box;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    overflow: hidden;
    -webkit-box-orient: vertical;
}