body {
  background: #0a192f;
  color: #ccd6f6;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1, h2 {
  color: #ccd6f6;
  line-height: 1.1;
}

img {
  pointer-events: none;
}
